<img src="./image/Bannerheader-desk-1920x200.png" style="width: 100%; height: 300px; margin-top: -14px;" alt="">

<div class=" body-row" style="margin-top: 15px;">

    <div class=" body-row">
        <img src="./image/khuyenmai1.png" style="width: 100%;" alt="">
    </div>

    <a href="#!/trangchu">Trang chủ</a> > Đồng hồ thông minh
        <h3 class="dtnb">Đồng hồ thông minh nổi bật</h3>
        <div class="sapxep">
            <ul class="ul-sapxep">
                <li>
                    <div class="dropdown">
                        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-expanded="true">
                            sắp xếp
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="" ng-click="sortBy('price')">theo Giá (tăng/giảm)</a>
                            <a class="dropdown-item" href="" ng-click="sortBy('name')">theo Tên (A-Z,Z-A)</a>
                            <a class="dropdown-item" href="" ng-click="sortBy('pin')">theo Thời lượng pin </a>
                            <a class="dropdown-item" href="" ng-click="sortBy('hang')">theo Hãng </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="products">
            <li ng-repeat="sp in dhtm | limitTo: pagesize : begin | orderBy: col">
                <div class="product-item">
                    <div class="product-top">
                        <a href="#!/chitietsanpham/{{sp.id}}/{{sp.name}}/{{sp.img}}/{{sp.price}}/{{sp.soluong}}/{{sp.hang}}/{{sp.namsx}}/{{sp.cat}}" class="product-img">
                            <img src="./image/{{sp.img}}" alt="">
                        </a>
                        <a href="#!/chitietsanpham/{{sp.id}}/{{sp.name}}/{{sp.img}}/{{sp.price}}/{{sp.soluong}}/{{sp.hang}}/{{sp.namsx}}/{{sp.cat}}" class="buy-now">mua ngay</a>
                    </div>
                    <div class="product-title">
                        <div class="sieu-sale">{{sp.uudai}}</div>
                        <a href="#!/chitietsanpham/{{sp.id}}/{{sp.name}}/{{sp.img}}/{{sp.price}}/{{sp.soluong}}/{{sp.hang}}/{{sp.namsx}}/{{sp.cat}}" class="product-name">{{sp.name}}</a>
                        <div class="product-price">{{sp.price | number}}<sup><u>đ</u></sup></div>
                        <div>
                            <ul class="thongtinchitiet">
                                <li>Màn hình: {{sp.manhinh}}</li>
                                <li>Thời lượng pin: {{sp.pin}}</li>
                                <li>Kết nối với hệ điều hành: {{sp.hedieuhanh}}</li>
                                <li>Hãng: {{sp.hang}}</li>
                            </ul>
                        </div>
                        <div style="color: rgb(241, 238, 56);">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="button-page">
            <button type="button" class="btn btn-outline-primary" ng-click=first()> trang đầu</button>
            <button type="button" class="btn btn-outline-primary" ng-click=previous()>trang trước</button>
            <button type="button" class="btn btn-outline-primary" ng-click=next()>trang kế</button> 
            <button type="button" class="btn btn-outline-primary" ng-click=last()>trang cuối</button> 
        </div>
    </div>