<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row body-row thuonghieu">
        <h4>Chuyên trang thương hiệu</h4>
        <ul>
            <li><img src="./image/samsung-390-210-390x210.png" alt=""></li>
            <li><img src="./image/appleDT-390x210-1.png" alt=""></li>
            <li><img src="./image/Laptop-390x210-3.png" alt=""></li>
        </ul>
    </div>
    <div class="row body-row thuonghieu">
        <h4>Sản phẩm mới</h4>
        <ul>
            <li><img src="./image/PC-780x420.jpg" alt=""></li>
            <li><img src="./image/SPmoi2-780x420.jpg" alt=""></li>
            <li><img src="./image/SPmoi3-780x420.jpg" alt=""></li>
        </ul>
    </div>
    <div class="row  body-row">
        <div class="col-6">
            <div class="tintuc">
                CÔNG NGHỆ 24H <a href="#">Xem thêm</a> >
                <ul>
                    <li><img src="./image/lcdlenovo_1280x720-500x500.jpg" width="550px" alt=""></li>
                    <li>Bộ đôi màn hình LCD Gaming Lenovo đồng giảm tiền triệu, màn xịn giá ngon, hấp dẫn quá phải mua
                        ngay thôi!</li>
                </ul>
                <div style="font-size: 15px; font-weight: 400; margin-top: -10px;">46 phút trước</div>
            </div>
        </div>
        <div class="col-6">
            <div class="tintuc-title">
                <ul>
                    <li><img src="./image/logo24hcongnghe1_1280x720-200x200.jpg" alt=""></li>
                    <li style="flex-basis: 50%;">Tư vấn cách chọn mua đồng hồ xả hàng tại TGDĐ, bí quyết để bạn sở hữu những mẫu...</li>
                    <div style="margin-left: 170px; margin-top: -10px; font-size: 13px; font-weight: 350;">1 giờ trước</div>
                </ul>
                
                <ul>
                    <li><img src="./image/gia-ban-galaxy-a22s-5g-thumb_1280x720-200x200.jpg" alt=""></li>
                    <li style="flex-basis: 50%;">Tư vấn cách chọn mua đồng hồ xả hàng tại TGDĐ, bí quyết để bạn sở hữu những mẫu...</li>
                    <div style="margin-left: 170px; margin-top: -10px; font-size: 13px; font-weight: 350;">5 giờ trước</div>
                </ul>
                <ul>
                    <li><img src="./image/cau-hinh-galaxy-a22s-5g-thumb_1280x720-200x200.jpg" alt=""></li>
                    <li style="flex-basis: 50%;">Tư vấn cách chọn mua đồng hồ xả hàng tại TGDĐ, bí quyết để bạn sở hữu những mẫu...</li>
                    <div style="margin-left: 170px; margin-top: -10px; font-size: 13px; font-weight: 350;">3 giờ trước</div>
                </ul>
                <ul>
                    <li><img src="./image/smartphone-realme-co-camera-an-thumb_1280x720-200x200.jpg" alt=""></li>
                    <li style="flex-basis: 50%;">Tư vấn cách chọn mua đồng hồ xả hàng tại TGDĐ, bí quyết để bạn sở hữu những mẫu...</li>
                    <div style="margin-left: 170px; margin-top: -10px; font-size: 13px; font-weight: 350;">15 giờ trước</div>
                </ul>
            </div>
        </div>

    </div>

    <hr>
    <footer>
        <div class="row">
            <div class="col-3">
                <p> Lịch sử mua hàng</p>
                <p>Cộng tác bán hàng cùng TGDĐ</p>
                <p>Tìm hiểu về mua trả góp</p>
                <p>Chính sách bảo hành</p>
                <p> Xem thêm</p>
            </div>
            <div class="col-3">
                <p> Giới thiệu công ty (MWG.vn)</p>
                <p> Tuyển dụng</p>
                <p> Gửi góp ý, khiếu nại</p>
                <p> Tìm siêu thị (2.785 shop)</p>
                <p> Xem bản mobile</p>
            </div>
            <div class="col-3">
                <p> <b>Tổng đài hỗ trợ</b> (Miễn phí gọi)</p>
                <p> Gọi mua: <span style="color: blue; font-weight: 600;">1800.1060</span> (7:30 - 22:00)</p>
                <p> Kỹ thuật: <span style="color: blue; font-weight: 600;">1800.1060</span> (7:30 - 22:00)</p>
                <p> Khiếu nại: <span style="color: blue; font-weight: 600;">1800.1060</span> (8:00 - 21:30)</p>
                <p> Bảo hành: <span style="color: blue; font-weight: 600;">1800.1060</span> (8:00 - 21:00)</p>
            </div>
            <div class="col-3">
                <ul class="ul-footer-icon">
                    <li><a href="https://www.facebook.com/thegioididongcom"><img src="./image/OIP.jfif"
                                style="width: 30px; height: inherit;" alt="" title="facebook"> 315.2k fan</a> </li>
                    <li><a href="https://www.youtube.com/user/TGDDVideoReviews"><img src="./image/R.png"
                                style="width: 45px; height: inherit; margin-top: -10px;" alt="" title="youtube">
                            215.2k fan</a></li>
                </ul>
                <h4>Thanh toán qua</h4>
                <ul class="ul-footer-bank">
                    <li><img src="./image/R (1).png" style="width: 30px; height: inherit; margin-top: 10px;" alt="">
                    </li>
                    <li><img src="./image/OIP (1).jfif" style="width: 100px; height: 50px;" alt=""></li>
                    <li><img src="./image/OIP (2).jfif" style="width: 100px; height: 50px;" alt=""></li>

                </ul>
            </div>
        </div>
    </footer>
</body>

</html>