<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <header>
        <div class="menu-fixed">
            <div>
                <img src="./image/khuyenmai.png" width="100%" height="40px" alt="">
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a href="#!/trangchu"> <img class="left-img" src="./image/tgdd.png" width="150px" alt=""></a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link active left" href="#!/trangchu">Trang chủ</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " style="margin-top: -9px;" href=""></a>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" type="button" style="color: #fff;" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-expanded="true">
                                        tài khoản
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#!/register" ><img src="./image/verify.png" style="width: 20px; height: 20px;" alt=""> đăng ký</a>
                                        <a class="dropdown-item" href="#!/login" ><img src="./image/enter.png" style="width: 20px; height: 20px; margin-left: -5px;" alt=""> đăng nhập</a>
                                        <a class="dropdown-item" href="" ><img src="./image/logout.png" style="width: 20px; height: 20px;" alt=""> đăng xuất</a>
                                    </div>
                                </div>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Dịch vụ</a>
                        </li>
    
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" ng-model="x" placeholder="Bạn tìm gì...">
                        <img src="./image/search.png" width="25px" height="25px" style="margin-left: -45px;" alt="">
                        <button class="btn btn-outline-primary my-2 my-sm-0 right" style="margin-left: 15px;" type="submit">
                            <img src="./image/shopping-cart.png" style="width: 30px; height: 25px;" type="button" alt="">
                            Giỏ hàng
                        </button>
                    </form>
                </div>
            </nav>
            <div class="row">
                <ul class="ul-sidemenu">
                    <li class="sidemenu ">
                        <a href="#!/dtdd" class="a-sidemenu">
                            <img src="./image/hand-phone.png" width="20px" height="20px" alt="">
                            Điện thoại
                        </a>
                    </li>
                    <li class="sidemenu ">
                        <a href="#!/laptop" class="a-sidemenu">
                            <img src="./image/laptop.png" width="25px" height="27px" alt="">
                            Laptop
                        </a>
                    </li>
                    <li class="sidemenu">
                        <a href="#!/tablet" class="a-sidemenu">
                            <img src="./image/graphic-tablet.png" width="27px" height="25px" alt="">
                            Tablet
                        </a>
                    </li>
                    <li class="sidemenu">
                        <a href="#!/phukien" class="a-sidemenu">
                            <img src="./image/headphones.png" width="25px" height="25px" alt="">
                            phụ kiện
                        </a>
                    </li>
                    <li class="sidemenu">
                        <a href="#!/dhtm" class="a-sidemenu">
                            <img src="./image/smart-watch.png" width="30px" height="29px" alt="">
                            Đồng hồ thông minh
                        </a>
                    </li>
                    <li class="sidemenu">
                        <a href="#!/dhtt" class="a-sidemenu">
                            <img src="./image/hand-watch.png" width="27px" height="27px" alt="">
                            Đồng hồ thời trang
                        </a>
                    </li>
                    <li class="sidemenu">
                        <a href="#!/pc" class="a-sidemenu">
                            <img src="./image/desktop-pc.png" width="25px" height="25px" alt="">
                            PC, máy in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </header>

</body>

</html>